<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script-->
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  /**
   * Run initializations on sidebar load.
   */
  var POLL_TIMEOUT = 2000;
  var MIN_TIMEOUT = 500;
  var DEF_TAB_NAME = 'Sheet1';

  window.singleTimer = null;
  window.sheetList = [DEF_TAB_NAME];
  window.sheetIndex = 0;

  // naming deps
  var _prefixTable = 'div-table-';
  var prefixId = '#' + _prefixTable + 'row-';
  var _getBtn = 'btn-get-row';
  var _setBtn = 'btn-set-row';
  var _actForm = 'form-act-row';

  $(function() {

    actionStart()
    actionPoll(POLL_TIMEOUT)
  });


  /**
   *
   */
  function actionStart() {

    google.script.run
      .withSuccessHandler(function(successMsg){
        console.log('>> actionStart; successMsg = ', successMsg)
        window.sheetList = JSON.parse(successMsg) || [DEF_TAB_NAME];
        //console.log('>> window.sheetList = ', window.sheetList)
      })
      .withFailureHandler(function(failMsg){

        console.log('failMsg = ', failMsg)
      })
      .srvGetSpreadsheetSheets()

  }

  /**
   * Poll a server-side function at the given interval, to have
   * results passed to a successHandler callback.
   *
   * https://stackoverflow.com/a/24773178/1677912
   *
   * @param {Number} interval   (optional) Time in ms between polls.
   *                            Default is 2s (2000ms)
   */
  function actionPoll(interval) {

    interval = interval || POLL_TIMEOUT;

    console.log('>>poll(); date = ', (new Date().toUTCString()))
    if (window.singleTimer)
      clearInterval(window.singleTimer)

    window.singleTimer = setInterval(function() {

      interval = 2000

      google.script.run
        .withSuccessHandler(function (resultMsg) {

          console.log('>>withSuccessHandler(); resultMsg = ', resultMsg)
          console.log('>>withSuccessHandler(); date = ', (new Date().toUTCString()))
          var resultObj = JSON.parse(resultMsg)
          if (window.singleTimer)
             clearInterval(window.singleTimer)

          // if no any form in wrapper or forms not focused - redraw

          if (! $(prefixId + 'wrapper').find('form').length
              ||
              (! $(prefixId + 'wrapper').find('form').find('*').is(':focus')) ){

            var item = null;
            var focused = $(prefixId + 'wrapper').find('form').find('*').is(':focus');
            console.log('>>FOCUSED = ', focused)
            console.log('>>resultObj1 = ', resultObj)
            if ((item = resultObj[0])
              && item[0] == '0' && item[1]){

              resultObj.shift()
              window.sheetIndex = window.sheetList.indexOf(item[1]) || 0

            }
            console.log('>>resultObj2 = ', resultObj)
            console.log('sheetIndex = ', window.sheetIndex)
            //analyse for no invalidation condition
            if ((item = resultObj.splice(-1))
              && item[0] == '' && item[1]){

              resultObj.pop()
            }
            else
              viewTabsPans2(resultObj) // @refresh view data
              actionPoll(interval) // @restart work cycle
            }

          })
        .withFailureHandler(function (errMsg, element){

          console.log('>>withFailureHandler(); errMsg = ', errMsg)
        })
        .srvGetSheetRow(-1, -1, interval); // @call srv func

      return false;

    }, interval);

  };



    function viewTabsPans2(data) {

      //var sheetName = 'Sheet1';

      console.log('>>viewFormRecord1(); data = ', data)

      //console.log('>>viewFormRecord1(); $('+prefixId + 'wrapper)=', $(prefixId + 'wrapper') )
      if ($(prefixId + 'wrapper').length){


        $(prefixId + 'wrapper')
          .html(

            $('<ul>', {
              id: prefixId + 'spreadsheet' + '-tab',
              class: "nav nav-tabs",
              html: $.map(window.sheetList, function(sheetName, sheetNum){

                return $('<li>', {
                  class: "nav-item",
                })
                .append(
                  $('<a>', {
                    id: sheetName + 'wrapper' + '-tab',
                    class: "nav-link" + (sheetNum == window.sheetIndex ? " active" : ""),
                    href: '#' + sheetName + '_' + 'wrapper',
                    html: sheetName,
                    'role': "tab",
                    'data-toggle': "tab",
                    'aria-controls': sheetName + '_' + 'wrapper',
                    'aria-enabled': (! sheetNum? true : false),
                  })
                )
                .click(function(e){
                    var id = $(this).attr('href')
                    var text = $(this).text().trim()
                    console.log('>>TEXT = ', text)
                    google.script.run
                      .withSuccessHandler(function(successMsg){

                        console.log('failMsg = ', successMsg)
                      })
                      .withFailureHandler(function(failMsg){

                        console.log('failMsg = ', failMsg)
                      })
                      .srvSetSpreadsheetSheet(text)

                    $(id).find('.' + _setBtn).focus()
                    setTimeout(function(){
                        $(id).find('.' + _setBtn).focus()
                    }, MIN_TIMEOUT)
                })

              })
            })
            .add('<div>', {
              id: prefixId + "spreadsheet" + "-tab-content",
              class: "tab-content",
              html: $.map(window.sheetList, function(sheetName, sheetNum){

                return $('<div>', {
                  id: sheetName + "_" + "wrapper",
                  class: "tab-pane fade" + (sheetNum == window.sheetIndex ? " show active" : ""),
                  html: viewTabsPan1(sheetName, data),
                  'role': "tabpanel",
                  'aria-labelledby': sheetName + "_" + "wrapper" + "-tab",
                })

              })
            })

          )//.html
          //? for all sidebar wrapper - click fix in form button
          .closest('.sidebar')
            .click(function(e){

            var curr = $(e.target)
            if ( ! (curr.is('button') || curr.is('label') || curr.is('input')) ){

              $(this).find('.tab-pane.active form').find('.' + _setBtn).focus()
            }

          })

          .dblclick(function(e){

          var curr = $(e.target)
          if ( ! (curr.is('button') || curr.is('label') || curr.is('input')) ){

            $(this).find('.tab-pane.active form').find('.' + _setBtn).focus()
          }

        })

          .focusout(function(e){
            console.log('>>FOCUSOUT')
            // for focusout from form fully
            var curr = $(e.target)
            //if (!(curr.is('input') || curr.is('button') || curr.is('label'))){
            //  console.log('!input||button||label')
              actionPoll(POLL_TIMEOUT) // @restart work cycle
           //   }

          })


        }

    }



 /**
  *
  */
  function viewTabsPan1(sheetName, data){

    return $('<ul>', {
      id: prefixId + sheetName + "-tab",
      class: "nav nav-tabs",
      html: $.map(['edit', 'find'], function(item, num){

        return $('<li>', {
          class: "nav-item",
        })
          .append(
            $('<a>', {
              id: sheetName + item + '-tab',
              class: "nav-link" + (! num ? " active" : ""),
              href: '#' + sheetName + '_' + item,
              html: item,
              'role': "tab",
              'data-toggle': "tab",
              'aria-controls': sheetName  + '_' + item,
              'aria-selected': (! num ? true : false),
            })

            .click(function(e){
              console.log('a.nav-link - onClick()')
              var id = $(this).attr('href')

                $(id).find('.' + _setBtn).focus()
                setTimeout(function(){
                  $(id).find('.' + _setBtn).focus()
                }, MIN_TIMEOUT)

            })

          )

      })
    })
    .add(
      $('<div>', {
        id: prefixId + sheetName + "-tab-content",
        class: "tab-content",
        html: $.map(['edit', 'find'], function(item, num){

          return $('<div>', {
            id:  sheetName + '_' + item,
            class: "tab-pane fade" + (! num ? " show active" : ""),
            html: viewFormRecord1(!num
              ? data
              : data.map(function(itemData){
                  return [itemData[0], '']
                })
                , !num
                ? 'edit'
                : 'find'
              ),
            'role': "tabpanel",
            'aria-labelledby': sheetName + '_' + item + '-tab',

          })

        })
      })
    )
  }


  /**
   *
   */
  function viewFormRecord1(data, type){

  return  $('<form>', {
      id: _actForm + '_' + type,
      action: '',
      type: 'multipart/form-data',
      html: $.map(data, function(item, num){

        return $('<div>', {
          class: "input-group mb-3",
        })
          .append(
            $('<label>', {
              class: "input-group-prepend",
              for: _prefixTable + uCyrTransliterate(item[0].trim()),
              html: $('<span>', {
                class: "input-group-text",
                text: item[0].substr(0, 10) + '..',
              }),
            })
            .add(
              $('<input>', {
                class: "form-control",
                type: "text",
                //name: uCyrTransliterate(item[0].trim()),
                name: `COL${num + 1}`,
                id: _prefixTable + uCyrTransliterate(item[0].trim()),
                value: item[1],
              })
            )
          )
        })
      })
/*
     .click(function(e){

      var curr = $(e.target)
      if (!(curr.is('input') || curr.is('button') || curr.is('label')))
        $(this).find('.' + _setBtn).focus()
    })

     .dblclick(function(e){

      var curr = $(e.target)
      if (!(curr.is('input') || curr.is('button') || curr.is('label')))
        $(this).find('.' + _setBtn).focus()
    })

    .focusout(function(e){
      console.log('>>FOCUSOUT')
      // for focusout from form fully
      var curr = $(e.target)
      //if (!(curr.is('input') || curr.is('button') || curr.is('label'))){
      //  console.log('!input||button||label')
        actionPoll(POLL_TIMEOUT) // @restart work cycle
     //   }

    })
*/
    .append($('<button>', {
        class: "btn btn-default " + _setBtn,
        type: "button",
        //id: _setBtn,
        name: _setBtn,
        tabindex: 1,
        autofocus: 1,
        text: type == 'edit'
        ? "Записать ячейки"
        : "Поиск по ячейкам",
        })
        .click(function(){

          //var formData = new FormData($('#' + _actForm)[0]);
          //var dataSet = {...formData};

          var formObj = $(this).closest('form').serializeArray().reduce(function(obj, item) {
              obj[item.name] = item.value;
              return obj;
          }, {});
          console.log('>>dataSet = ', formObj)

          if (type == 'edit') {

          google.script.run
            .withSuccessHandler( function(resultMsg) {

              console.log('>> btn = ', _setBtn, ' resultMsg = ', resultMsg)

            })
            .withFailureHandler( function(errMsg) {

              console.log('>> btn = ', _setBtn, ' errMsg = ', resultMsg)

            })
            .srvSetSheetRow(Object.entries(formObj))

          }
          else {

            google.script.run
              .withSuccessHandler( function(resultMsg) {

                console.log('>> btn = ', _setBtn, ' resultMsg = ', resultMsg)

              })
              .withFailureHandler( function(errMsg) {

                console.log('>> btn = ', _setBtn, ' errMsg = ', resultMsg)

              })
              .srvSearchSheetRow(Object.entries(formObj))

          }


      })
      .focusout(function(){

        console.log('>>FOCUSOUT')
      })

    )//.append
  }


  /**
   * Callback function to display a "record", or row of the spreadsheet.
   *
   * @param {object[]}  Array of field headings & cell values
   */
   /*
  function viewSheetRecord(record) {

    console.log('>>viewFormRecord1(); data = ', record)
    record.map(function(item, num){

      var _prefixTable = 'div-table-'
      var prefixId = '#' + _prefixTable + 'row-';


      var attrId = prefixId + num;

      if (!$(attrId).length){

        $(prefixId + 'wrapper').append(
            $($.parseHTML(
              '<div id="' + attrId.replace('#','')
                + '" class="' + _prefixTable + 'row">\
              </div>'
            ))
        )

      }

      $(attrId).html(
        '<div class="' + _prefixTable + 'th">' + item.headData + '</div>\
        <div class="' + _prefixTable + 'td">' + item.contentData + '</div>'
      )

    })

  }

*/


function uCyrTransliterate ( str ) {

    var transTab = {
        'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd',
        'е': 'e', 'ё': 'e', 'ж': 'j', 'з': 'z', 'и': 'i',
        'й': 'y', 'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n',
        'о': 'o', 'п': 'p', 'р': 'r', 'с': 's', 'т': 't',
        'у': 'u', 'ф': 'f', 'х': 'h', 'ц': 'x', 'ч': 'q',
        'ш': 'c', 'щ': 'cq', 'ъ':'y', 'ы': 'y', 'ь' : 'y',
        'э': 'ye', 'ю': 'yu', 'я': 'ya', ' ': '_',
    };

    return str.split('').map(function(item){
      return transTab[ item ]
      || transTab[ item.toLowerCase() ]
      || item
    })
    .join('')

}

</script>
